In [1]:
# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkCleaning').getOrCreate()

23/03/13 14:37:33 WARN Utils: Your hostname, MacBook-Air-di-Emanuele.local resolves to a loopback address: 127.0.0.1; using 10.0.0.197 instead (on interface en0)
23/03/13 14:37:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/13 14:37:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df_spark = spark.read.csv("../datasets/imdb/validation_hidden.csv", inferSchema=True, header=True)
df_spark.repartition(4)

DataFrame[_c0: int, tconst: string, primaryTitle: string, originalTitle: string, startYear: string, endYear: string, runtimeMinutes: string, numVotes: double]

In [4]:
df_spark.show()

23/03/13 14:37:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
Expected: _c0 but found:
CSV file: file:///Users/manu/PycharmProjects/Big-Data-Project/datasets/imdb/validation_hidden.csv
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|_c0|   tconst|        primaryTitle|      originalTitle|startYear|endYear|runtimeMinutes|numVotes|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|  0|tt0003740|             Cabiria|               null|     1914|     \N|           148|  3452.0|
|  1|tt0008663|     A Man There Was|        Terje Vigen|     1917|     \N|            65|  1882.0|
|  3|tt0010307|           J'accuse!|               null|     1919|     \N|           166|  1692.0|
| 18|tt0014429|        Safety Last!|       Safety Last!|     1923|     \N|            74| 19898.0|
| 27|tt0015175|Die Nibelungen: S...|               null|     1924|     \N|           143|  5676.0|
| 39|tt0016332|       Seven Chances|               null|     1925|     \N|            56|  9914.0|
| 61|tt0018737|       Pandora's Box|               null|       \N|   1929|           109| 10475.0|
| 65|tt0018839|The Docks of New ...|               null|     1928|     \N|            76|  4339.0|
| 71|tt0019421| Steamboat Bill, Jr.|Steamboat Bill, Jr.|     1928|     \N|            70| 14166.0|
| 75|tt0019901|   Woman in the Moon|               null|     1929|     \N|           156|    null|
| 91|tt0022150|          Le Million|               null|     1931|     \N|            91|  3434.0|
| 92|tt0022153|   The Miracle Woman|               null|     1931|     \N|            90|  2013.0|
|142|tt0025699|   Randy Rides Alone|               null|     1934|     \N|            52|  1034.0|
|153|tt0026725|      Les Misérables|     Les Misérables|     1935|     \N|           108|  3512.0|
|158|tt0027336|    The Lower Depths|      Les bas-fonds|     1936|     \N|            95|  3194.0|
|159|tt0027342|      They Were Five|    La belle équipe|     1936|     \N|           100|  1202.0|
|167|tt0027672| Sisters of the Gion|               null|     1936|     \N|            69|  2621.0|
|174|tt0028167|           Rembrandt|          Rembrandt|     1936|     \N|            85|  1778.0|
|178|tt0028313|The Story of Loui...|               null|     1936|     \N|            86|  2705.0|
|187|tt0028737|          Confession|         Confession|     1937|     \N|            87|  1201.0|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
only showing top 20 rows

In [5]:
df_spark.count()

955

Starting to do stuff

In [6]:
import pandas as pd
import os

Count how many "train-i" files we have

In [7]:
dir_path = "../datasets/imdb/"

# Get a list of all the files in the directory
files = os.listdir(dir_path)

# Filter the list to include only files that start with "train-" and have a ".csv" extension
train_files = [f for f in files if f.startswith("train-") and f.endswith(".csv")]

# Count the number of files
num_train_files = len(train_files)

print("Number of train files: {}".format(num_train_files))

Number of train files: 8

print shape of training files, concatenate all the files, and print shape of big_file

In [8]:
# Create an empty list to store the DataFrames
dfs = []

# Loop through the file names and read each file into a DataFrame
for file in train_files:
    file_name = f"../datasets/imdb/{file}"
    df = spark.read.csv(file_name, header=True, inferSchema=True)
    dfs.append(df)

# Loop through the DataFrames and print the shape of each one
for i, df in enumerate(dfs):
    num_rows = df.count()
    num_cols = len(df.columns)
    print("Shape of df_train_{}: {} rows, {} columns".format(i+1, num_rows, num_cols))

# Union all the DataFrames into one big DataFrame
big_df = dfs[0]
for df in dfs[1:]:
    big_df = big_df.union(df)

#Drop columns _c0
big_df = big_df.drop("_c0")

num_rows = big_df.count()
num_cols = len(big_df.columns)
print(f"\nShape of big_df: {num_rows} rows, {num_cols} columns")

Shape of df_train_1: 1001 rows, 9 columns
Shape of df_train_2: 1035 rows, 9 columns
Shape of df_train_3: 974 rows, 9 columns
Shape of df_train_4: 1049 rows, 9 columns
Shape of df_train_5: 963 rows, 9 columns
Shape of df_train_6: 951 rows, 9 columns
Shape of df_train_7: 993 rows, 9 columns
Shape of df_train_8: 993 rows, 9 columns

Shape of big_df: 7959 rows, 8 columns

In [9]:
big_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|
|tt0029314|Humanity and Pape...|                null|     1937|     \N|            86|  1995.0| true|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

In [10]:
#function to count number of distinct(unique) movies and total movies in dataset. To avoid duplicates number should be equal
def count_total_unique(df):
    unique_movies = df.select("tconst").distinct()
    total_movies = df.select("tconst")

    print("total movies:", total_movies.count())
    print("unique movies:", unique_movies.count())

count_total_unique(big_df)

total movies: 7959

unique movies: 7959

Merging with writing.json

In [11]:
import json
with open("../datasets/imdb/writing.json") as f:
    data = json.load(f)

#convert to pandas
writing_df = pd.DataFrame(data)

#taking care of multiple writers and adding them to a list
writing_df = writing_df.groupby('movie')['writer'].apply(list).reset_index()

#convert to spark
writing_df = spark.createDataFrame(writing_df)

# Rename the "movie" column in the JSON file to "tconst"
writing_df = writing_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = big_df.join(writing_df, on='tconst', how='left')

merged_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|              writer|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|[nm0299153, nm000...|
|tt0031334|   The Four Feathers|                null|     1939|     \N|           129|  5917.0| true|[nm0556571, nm079...|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|[nm0750357, nm051...|
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|         [nm0159725]|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|[nm0536941, nm078...|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|[nm0706993, nm037...|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|[nm0175676, nm007...|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|[nm0007973, nm010...|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|[nm0000036, nm011...|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|[nm0183018, nm030...|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|         [nm0304098]|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|[nm0896542, nm091...|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|[nm0115669, nm059...|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|[nm0436095, nm074...|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|[nm0198202, nm091...|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|[nm0001196, nm020...|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|[nm0369841, nm011...|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|[nm0629580, nm064...|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|[nm0272209, nm035...|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|[nm0421255, nm080...|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
only showing top 20 rows

In [12]:
count_total_unique(merged_df)

total movies: 7959
unique movies: 7959

Merging with directing.json

In [13]:
import json
with open("../datasets/imdb/directing.json") as f:
    data = json.load(f)

#convert to pandas
director_df = pd.DataFrame(data)

#taking care of multiple writers and adding them to a list
director_df = director_df.groupby('movie')['director'].apply(list).reset_index()

#convert to spark
director_df = spark.createDataFrame(director_df)

# Rename the "movie" column in the JSON file to "tconst"
director_df = director_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = merged_df.join(director_df, on='tconst', how='left')
merged_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|              writer|            director|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|[nm0299153, nm000...|[nm0903049, nm074...|
|tt0031334|   The Four Feathers|                null|     1939|     \N|           129|  5917.0| true|[nm0556571, nm079...|         [nm0466113]|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|[nm0750357, nm051...|         [nm0355284]|
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|         [nm0159725]|         [nm0159725]|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|[nm0536941, nm078...|         [nm0886754]|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|[nm0706993, nm037...|         [nm0226189]|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|[nm0175676, nm007...|         [nm0000033]|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|[nm0007973, nm010...|         [nm0853130]|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|[nm0000036, nm011...|[nm0115669, nm000...|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|[nm0183018, nm030...|         [nm0183018]|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|         [nm0304098]|         [nm0304098]|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|[nm0896542, nm091...|         [nm0896542]|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|[nm0115669, nm059...|[nm0000036, nm016...|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|[nm0436095, nm074...|         [nm0564970]|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|[nm0198202, nm091...|         [nm0896542]|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|[nm0001196, nm020...|         [nm0245385]|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|[nm0369841, nm011...|[nm0090007, nm000...|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|[nm0629580, nm064...|         [nm0000406]|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|[nm0272209, nm035...|         [nm0001843]|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|[nm0421255, nm080...|[nm0281808, nm093...|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
only showing top 20 rows

In [14]:
count_total_unique(merged_df)

total movies: 7959
unique movies: 7959

In [15]:
big_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|
|tt0029314|Humanity and Pape...|                null|     1937|     \N|            86|  1995.0| true|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

In [16]:
#function to count number of distinct(unique) movies and total movies in dataset. To avoid duplicates number should be equal
def count_total_unique(df):
    unique_movies = df.select("tconst").distinct()
    total_movies = df.select("tconst")

    print("total movies:", total_movies.count())
    print("unique movies:", unique_movies.count())

count_total_unique(big_df)

total movies: 7959
unique movies: 7959

Merging with writing.json

In [48]:
import json
with open("../datasets/imdb/writing.json") as f:
    data = json.load(f)

#convert to pandas
writing_df = pd.DataFrame(data)

#taking care of multiple writers and adding them to a list
writing_df = writing_df.groupby('movie')['writer'].apply(list).reset_index()

#convert to spark
writing_df = spark.createDataFrame(writing_df)

# Rename the "movie" column in the JSON file to "tconst"
writing_df = writing_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = big_df.join(writing_df, on='tconst', how='left')

merged_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|              writer|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|[nm0299153, nm000...|
|tt0031334|   The Four Feathers|                null|     1939|     \N|           129|  5917.0| true|[nm0556571, nm079...|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|[nm0750357, nm051...|
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|         [nm0159725]|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|[nm0536941, nm078...|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|[nm0706993, nm037...|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|[nm0175676, nm007...|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|[nm0007973, nm010...|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|[nm0000036, nm011...|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|[nm0183018, nm030...|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|         [nm0304098]|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|[nm0896542, nm091...|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|[nm0115669, nm059...|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|[nm0436095, nm074...|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|[nm0198202, nm091...|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|[nm0001196, nm020...|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|[nm0369841, nm011...|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|[nm0629580, nm064...|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|[nm0272209, nm035...|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|[nm0421255, nm080...|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+
only showing top 20 rows

In [49]:
count_total_unique(merged_df)

total movies: 7959
unique movies: 7959

Merging with directing.json

In [50]:
import json
with open("../datasets/imdb/directing.json") as f:
    data = json.load(f)

#convert to pandas
director_df = pd.DataFrame(data)

#taking care of multiple writers and adding them to a list
director_df = director_df.groupby('movie')['director'].apply(list).reset_index()

#convert to spark
director_df = spark.createDataFrame(director_df)

# Rename the "movie" column in the JSON file to "tconst"
director_df = director_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = merged_df.join(director_df, on='tconst', how='left')
merged_df.show()

+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|              writer|            director|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|[nm0299153, nm000...|[nm0903049, nm074...|
|tt0031334|   The Four Feathers|                null|     1939|     \N|           129|  5917.0| true|[nm0556571, nm079...|         [nm0466113]|
|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|[nm0750357, nm051...|         [nm0355284]|
|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|         [nm0159725]|         [nm0159725]|
|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|[nm0536941, nm078...|         [nm0886754]|
|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|[nm0706993, nm037...|         [nm0226189]|
|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|[nm0175676, nm007...|         [nm0000033]|
|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|[nm0007973, nm010...|         [nm0853130]|
|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|[nm0000036, nm011...|[nm0115669, nm000...|
|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|[nm0183018, nm030...|         [nm0183018]|
|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|         [nm0304098]|         [nm0304098]|
|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|[nm0896542, nm091...|         [nm0896542]|
|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|[nm0115669, nm059...|[nm0000036, nm016...|
|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|[nm0436095, nm074...|         [nm0564970]|
|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|[nm0198202, nm091...|         [nm0896542]|
|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|[nm0001196, nm020...|         [nm0245385]|
|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|[nm0369841, nm011...|[nm0090007, nm000...|
|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|[nm0629580, nm064...|         [nm0000406]|
|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|[nm0272209, nm035...|         [nm0001843]|
|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|[nm0421255, nm080...|[nm0281808, nm093...|
+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+--------------------+--------------------+
only showing top 20 rows

In [51]:
count_total_unique(merged_df)

total movies: 7959

unique movies: 7959

In [52]:
from pyspark.sql.functions import regexp_replace, col, lower

In [64]:
def pre_processing(df):
    """
    This method takes in input a dataframe and preprocess the columns
    :return:
    """

    df = df.withColumn('primaryTitle', lower(col('primaryTitle')))
    df = df.withColumn('originalTitle', lower(col('originalTitle')))

    characters_to_substitute = [('á', 'a'), ('é', 'e'), ('ớ', 'o'), ('ú', 'u')]

    for character in characters_to_substitute:
        df = df.withColumn('primaryTitle', regexp_replace(col('primaryTitle'), character[0], character[1]))
        df = df.withColumn('originalTitle', regexp_replace(col('originalTitle'), character[0], character[1]))

    return df

In [79]:
"""
Load the validation dataset
"""

validation = spark.read.csv('../datasets/imdb/validation_hidden.csv', inferSchema=True, header=True)

In [85]:
"""
Loading the test dataset
"""
test = spark.read.csv('../datasets/imdb/test_hidden.csv', inferSchema=True, header=True)

In [86]:
merged_df = pre_processing(merged_df)
validation = pre_processing(validation)
test = pre_processing(test)

In [87]:
test.show()

23/03/13 15:37:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
Expected: _c0 but found:
CSV file: file:///Users/manu/PycharmProjects/Big-Data-Project/datasets/imdb/test_hidden.csv
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|_c0|   tconst|        primaryTitle|      originalTitle|startYear|endYear|runtimeMinutes|numVotes|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
| 22|tt0014972| he who gets slapped|he who gets slapped|     1924|     \N|            95|  3654.0|
| 23|tt0015016|      the iron horse|               null|     1924|     \N|           150|  2136.0|
| 26|tt0015174|die nibelungen: k...|               null|     1924|     \N|           129|  4341.0|
| 28|tt0015214|             at 3:25|               null|       \N|   1925|            59|  1724.0|
| 34|tt0015863|             go west|               null|     1925|     \N|            69|  4188.0|
| 40|tt0016481|             variety|            variete|     1925|     \N|           104|  1188.0|
| 46|tt0017136|          metropolis|               null|     1927|     \N|           153|168372.0|
| 66|tt0018876|   the farmer's wife|               null|     1928|     \N|           100|  2741.0|
| 67|tt0019074| laugh, clown, laugh|laugh, clown, laugh|     1928|     \N|            73|  1934.0|
| 84|tt0021730|           the champ|               null|     1931|     \N|            86|  3057.0|
| 87|tt0022074|the smiling lieut...|               null|     1931|     \N|            93|  3632.0|
| 88|tt0022080|               limit|               null|     1931|     \N|           114|    null|
|103|tt0023241|         movie crazy|               null|     1932|     \N|            84|    null|
|111|tt0023775|           baby face|               null|     1933|     \N|            71|  6775.0|
|115|tt0023940|   design for living|  design for living|     1933|     \N|            91|    null|
|120|tt0024028|    footlight parade|   footlight parade|     1933|     \N|           104|  5285.0|
|126|tt0024240|      lady for a day|     lady for a day|     1933|     \N|            96|    null|
|143|tt0025746| the scarlet empress|               null|     1934|     \N|           104|  6400.0|
|144|tt0025862| tarzan and his mate|               null|     1934|     \N|           104|  5033.0|
|147|tt0025929|a story of floati...| ukikusa monogatari|     1934|     \N|            86|  3032.0|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
only showing top 20 rows