In [2]:
# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkCleaning').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/09 16:22:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
df_spark = spark.read.csv("../datasets/imdb/validation_hidden.csv", inferSchema=True, header=True)
df_spark.repartition(4)

DataFrame[_c0: int, tconst: string, primaryTitle: string, originalTitle: string, startYear: string, endYear: string, runtimeMinutes: string, numVotes: double]

In [5]:
df_spark.show()

23/03/09 16:22:16 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
Expected: _c0 but found:
CSV file: file:///Users/mattiacintioli/PycharmProjects/Big-Data-Project/datasets/imdb/validation_hidden.csv
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|_c0|   tconst|        primaryTitle|      originalTitle|startYear|endYear|runtimeMinutes|numVotes|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|  0|tt0003740|             Cabiria|               null|     1914|     \N|           148|  3452.0|
|  1|tt0008663|     A Man There Was|        Terje Vigen|     1917|     \N|            65|  1882.0|
|  3|tt0010307|           J'accuse!|               null|     1919|     \N|           166|  1692.0|
| 18|tt0014429|        Safety Last!|       Safety Last!|     1923|     \N|            74| 19898.0|
| 27|tt0015175|Die Nibelungen: S...|               null|     1924|     \N|           143|  5676.0|
| 39|tt0016332|       Seven Chances|               null|     1925|     \N|            56|  9914.0|
| 61|tt0018737|       Pandora's Box|               null|       \N|   1929|           109| 10475.0|
| 65|tt0018839|The Docks of New ...|               null|     1928|     \N|            76|  4339.0|
| 71|tt0019421| Steamboat Bill, Jr.|Steamboat Bill, Jr.|     1928|     \N|            70| 14166.0|
| 75|tt0019901|   Woman in the Moon|               null|     1929|     \N|           156|    null|
| 91|tt0022150|          Le Million|               null|     1931|     \N|            91|  3434.0|
| 92|tt0022153|   The Miracle Woman|               null|     1931|     \N|            90|  2013.0|
|142|tt0025699|   Randy Rides Alone|               null|     1934|     \N|            52|  1034.0|
|153|tt0026725|      Les Misérables|     Les Misérables|     1935|     \N|           108|  3512.0|
|158|tt0027336|    The Lower Depths|      Les bas-fonds|     1936|     \N|            95|  3194.0|
|159|tt0027342|      They Were Five|    La belle équipe|     1936|     \N|           100|  1202.0|
|167|tt0027672| Sisters of the Gion|               null|     1936|     \N|            69|  2621.0|
|174|tt0028167|           Rembrandt|          Rembrandt|     1936|     \N|            85|  1778.0|
|178|tt0028313|The Story of Loui...|               null|     1936|     \N|            86|  2705.0|
|187|tt0028737|          Confession|         Confession|     1937|     \N|            87|  1201.0|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
only showing top 20 rows

In [6]:
df_spark.count()

955

Starting to do stuff

In [7]:
import pandas as pd
import os

Count how many "train-i" files we have

In [8]:
dir_path = "../datasets/imdb/"

# Get a list of all the files in the directory
files = os.listdir(dir_path)

# Filter the list to include only files that start with "train-" and have a ".csv" extension
train_files = [f for f in files if f.startswith("train-") and f.endswith(".csv")]

# Count the number of files
num_train_files = len(train_files)

print("Number of train files: {}".format(num_train_files))

Number of train files: 8

print shape of training files, concatenate all the files, and print shape of big_file

In [9]:
# Create an empty list to store the DataFrames
dfs = []

# Loop through the file names and read each file into a DataFrame
for file in train_files:
    file_name = f"../datasets/imdb/{file}"
    df = spark.read.csv(file_name, header=True, inferSchema=True)
    dfs.append(df)

# Loop through the DataFrames and print the shape of each one
for i, df in enumerate(dfs):
    num_rows = df.count()
    num_cols = len(df.columns)
    print("Shape of df_train_{}: {} rows, {} columns".format(i+1, num_rows, num_cols))

# Union all the DataFrames into one big DataFrame
big_df = dfs[0]
for df in dfs[1:]:
    big_df = big_df.union(df)
num_rows = big_df.count()
num_cols = len(big_df.columns)
print(f"\nShape of big_df: {num_rows} rows, {num_cols} columns")

Shape of df_train_1: 1001 rows, 9 columns
Shape of df_train_2: 1035 rows, 9 columns
Shape of df_train_3: 974 rows, 9 columns
Shape of df_train_4: 1049 rows, 9 columns
Shape of df_train_5: 963 rows, 9 columns
Shape of df_train_6: 951 rows, 9 columns
Shape of df_train_7: 993 rows, 9 columns
Shape of df_train_8: 993 rows, 9 columns

Shape of big_df: 7959 rows, 9 columns

Merging with writing.json

In [55]:
# Read the JSON file into a DataFrame
writing_df = spark.read.json("../datasets/imdb/writing.json")

# Rename the "movie" column in the JSON file to "tconst" to match the column name in big_df
writing_df = writing_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = big_df.join(writing_df, on='tconst', how='left')
merged_df.show()

23/03/09 17:13:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
Expected: _c0 but found:
CSV file: file:///Users/mattiacintioli/PycharmProjects/Big-Data-Project/datasets/imdb/train-6.csv
+---------+---+---------------+--------------------+---------+-------+--------------+--------+-----+---------+
|   tconst|_c0|   primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|   writer|
+---------+---+---------------+--------------------+---------+-------+--------------+--------+-----+---------+
|tt0013257| 11|          Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|nm0159725|
|tt0013556| 12|     Robin Hood|                null|     1922|     \N|           143|  2178.0| true|nm0940689|
|tt0013556| 12|     Robin Hood|                null|     1922|     \N|           143|  2178.0| true|nm0461241|
|tt0013556| 12|     Robin Hood|                null|     1922|     \N|           143|  2178.0| true|nm0245385|
|tt0013556| 12|     Robin Hood|                null|     1922|     \N|           143|  2178.0| true|nm0202617|
|tt0013556| 12|     Robin Hood|                null|     1922|     \N|           143|  2178.0| true|nm0001196|
|tt0014341| 16|Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0593477|
|tt0014341| 16|Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0115669|
|tt0014341| 16|Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0369841|
|tt0014538| 19|     Three Ages|                null|     1923|     \N|            63|  4312.0| true|nm0000036|
|tt0014538| 19|     Three Ages|                null|     1923|     \N|            63|  4312.0| true|nm0369841|
|tt0014538| 19|     Three Ages|                null|     1923|     \N|            63|  4312.0| true|nm0593477|
|tt0014538| 19|     Three Ages|                null|     1923|     \N|            63|  4312.0| true|nm0115669|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0809548|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0685904|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0807667|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0090213|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0115669|
|tt0017925| 50|    The General|                null|     1926|     \N|            67| 87784.0| true|nm0000036|
|tt0018192| 54|       Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|nm0304098|
+---------+---+---------------+--------------------+---------+-------+--------------+--------+-----+---------+
only showing top 20 rows

Merging with directing.json

In [56]:
import json
with open("../datasets/imdb/directing.json") as f:
    data = json.load(f)

#convert to pandas
director_df = pd.DataFrame(data)

#convert to spark
director_df = spark.createDataFrame(director_df)

# Rename the "movie" column in the JSON file to "tconst"
director_df = director_df.withColumnRenamed("movie", "tconst")

# Join the two DataFrames based on the "tconst"
merged_df = merged_df.join(director_df, on='tconst', how='left')
merged_df.show()

23/03/09 17:13:24 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
Expected: _c0 but found:
CSV file: file:///Users/mattiacintioli/PycharmProjects/Big-Data-Project/datasets/imdb/train-6.csv
+---------+---+---------------+---------------+---------+-------+--------------+--------+-----+---------+---------+
|   tconst|_c0|   primaryTitle|  originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|   writer| director|
+---------+---+---------------+---------------+---------+-------+--------------+--------+-----+---------+---------+
|tt0013257| 11|          Häxan|          Häxan|     1922|     \N|            91| 13679.0| true|nm0159725|nm0159725|
|tt0013556| 12|     Robin Hood|           null|     1922|     \N|           143|  2178.0| true|nm0940689|nm0245385|
|tt0013556| 12|     Robin Hood|           null|     1922|     \N|           143|  2178.0| true|nm0461241|nm0245385|
|tt0013556| 12|     Robin Hood|           null|     1922|     \N|           143|  2178.0| true|nm0245385|nm0245385|
|tt0013556| 12|     Robin Hood|           null|     1922|     \N|           143|  2178.0| true|nm0202617|nm0245385|
|tt0013556| 12|     Robin Hood|           null|     1922|     \N|           143|  2178.0| true|nm0001196|nm0245385|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0593477|nm0000036|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0593477|nm0090007|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0115669|nm0000036|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0115669|nm0090007|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0369841|nm0000036|
|tt0014341| 16|Our Hospitality|Our Hospitality|     1923|     \N|            65| 10911.0| true|nm0369841|nm0090007|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0000036|nm0166836|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0000036|nm0000036|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0369841|nm0166836|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0369841|nm0000036|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0593477|nm0166836|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0593477|nm0000036|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0115669|nm0166836|
|tt0014538| 19|     Three Ages|           null|     1923|     \N|            63|  4312.0| true|nm0115669|nm0000036|
+---------+---+---------------+---------------+---------+-------+--------------+--------+-----+---------+---------+
only showing top 20 rows