In [1]:
# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkCleaning').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/09 15:55:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df_spark = spark.read.csv("../datasets/imdb/validation_hidden.csv", inferSchema=True, header=True)
df_spark.repartition(4)

DataFrame[_c0: int, tconst: string, primaryTitle: string, originalTitle: string, startYear: string, endYear: string, runtimeMinutes: string, numVotes: double]

In [4]:
df_spark.show()

23/03/09 15:55:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes
Expected: _c0 but found:
CSV file: file:///Users/mattiacintioli/PycharmProjects/Big-Data-Project/datasets/imdb/validation_hidden.csv
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|_c0|   tconst|        primaryTitle|      originalTitle|startYear|endYear|runtimeMinutes|numVotes|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
|  0|tt0003740|             Cabiria|               null|     1914|     \N|           148|  3452.0|
|  1|tt0008663|     A Man There Was|        Terje Vigen|     1917|     \N|            65|  1882.0|
|  3|tt0010307|           J'accuse!|               null|     1919|     \N|           166|  1692.0|
| 18|tt0014429|        Safety Last!|       Safety Last!|     1923|     \N|            74| 19898.0|
| 27|tt0015175|Die Nibelungen: S...|               null|     1924|     \N|           143|  5676.0|
| 39|tt0016332|       Seven Chances|               null|     1925|     \N|            56|  9914.0|
| 61|tt0018737|       Pandora's Box|               null|       \N|   1929|           109| 10475.0|
| 65|tt0018839|The Docks of New ...|               null|     1928|     \N|            76|  4339.0|
| 71|tt0019421| Steamboat Bill, Jr.|Steamboat Bill, Jr.|     1928|     \N|            70| 14166.0|
| 75|tt0019901|   Woman in the Moon|               null|     1929|     \N|           156|    null|
| 91|tt0022150|          Le Million|               null|     1931|     \N|            91|  3434.0|
| 92|tt0022153|   The Miracle Woman|               null|     1931|     \N|            90|  2013.0|
|142|tt0025699|   Randy Rides Alone|               null|     1934|     \N|            52|  1034.0|
|153|tt0026725|      Les Misérables|     Les Misérables|     1935|     \N|           108|  3512.0|
|158|tt0027336|    The Lower Depths|      Les bas-fonds|     1936|     \N|            95|  3194.0|
|159|tt0027342|      They Were Five|    La belle équipe|     1936|     \N|           100|  1202.0|
|167|tt0027672| Sisters of the Gion|               null|     1936|     \N|            69|  2621.0|
|174|tt0028167|           Rembrandt|          Rembrandt|     1936|     \N|            85|  1778.0|
|178|tt0028313|The Story of Loui...|               null|     1936|     \N|            86|  2705.0|
|187|tt0028737|          Confession|         Confession|     1937|     \N|            87|  1201.0|
+---+---------+--------------------+-------------------+---------+-------+--------------+--------+
only showing top 20 rows

In [5]:
df_spark.count()

955

Starting to do stuff

In [6]:
import pandas as pd
import os

In [7]:
import os

dir_path = "../datasets/imdb/"

# Get a list of all the files in the directory
files = os.listdir(dir_path)

# Filter the list to include only files that start with "train-" and have a ".csv" extension
train_files = [f for f in files if f.startswith("train-") and f.endswith(".csv")]

# Count the number of files
num_train_files = len(train_files)

print("Number of train files: {}".format(num_train_files))

Number of train files: 8

In [8]:
# Create an empty list to store the DataFrames
dfs = []

# Loop through the file names and read each file into a DataFrame
for file in train_files:
    file_name = f"../datasets/imdb/{file}"
    df = spark.read.csv(file_name, header=True, inferSchema=True)
    dfs.append(df)

# Loop through the DataFrames and print the shape of each one
for i, df in enumerate(dfs):
    num_rows = df.count()
    num_cols = len(df.columns)
    print("Shape of df_train_{}: {} rows, {} columns".format(i+1, num_rows, num_cols))

# Union all the DataFrames into one big DataFrame
big_df = dfs[0]
for df in dfs[1:]:
    big_df = big_df.union(df)
num_rows = big_df.count()
num_cols = len(big_df.columns)
print(f"\nShape of big_df: {num_rows} rows, {num_cols} columns")

Shape of df_train_1: 1001 rows, 9 columns
Shape of df_train_2: 1035 rows, 9 columns
Shape of df_train_3: 974 rows, 9 columns
Shape of df_train_4: 1049 rows, 9 columns
Shape of df_train_5: 963 rows, 9 columns
Shape of df_train_6: 951 rows, 9 columns
Shape of df_train_7: 993 rows, 9 columns
Shape of df_train_8: 993 rows, 9 columns

Shape of big_df: 7959 rows, 9 columns

In [9]:
big_df.show()

23/03/09 15:55:43 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
Expected: _c0 but found:
CSV file: file:///Users/mattiacintioli/PycharmProjects/Big-Data-Project/datasets/imdb/train-6.csv
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
| 11|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| true|
| 12|tt0013556|          Robin Hood|                null|     1922|     \N|           143|  2178.0| true|
| 16|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| true|
| 19|tt0014538|          Three Ages|                null|     1923|     \N|            63|  4312.0| true|
| 50|tt0017925|         The General|                null|     1926|     \N|            67| 87784.0| true|
| 54|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| true|
| 57|tt0018526|          Úndérwớrld|                null|     1927|     \N|            80|  2912.0| true|
| 64|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| true|
| 74|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|false|
|112|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| true|
|117|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| true|
|138|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| true|
|152|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| true|
|168|tt0027914|     Love on the Run|                null|     1936|     \N|            80|  1219.0|false|
|175|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| true|
|177|tt0028249|           Show Boat|                null|     1936|     \N|           113|  3236.0| true|
|191|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| true|
|193|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    null| true|
|198|tt0029314|Humanity and Pape...|                null|     1937|     \N|            86|  1995.0| true|
|209|tt0029995|         Thé Citádél|                null|     1938|     \N|           110|  2066.0| true|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

+---------+---------+
|    movie|   writer|
+---------+---------+
|tt0003740|nm0195339|
|tt0003740|nm0515385|
|tt0003740|nm0665163|
|tt0003740|nm0758215|
|tt0008663|nm0406585|
|tt0008663|nm0596410|
|tt0008663|nm0803705|
|tt0009369|nm0215874|
|tt0009369|nm0370271|
|tt0010307|nm0304098|
|tt0010600|nm0006782|
|tt0010600|nm0473134|
|tt0010600|nm0523932|
|tt0010600|nm0932559|
|tt0011439|nm0191547|
|tt0011439|nm0001196|
|tt0011439|nm1491939|
|tt0011607|nm0003433|
|tt0011607|nm0418114|
|tt0011841|nm0662461|
+---------+---------+
only showing top 20 rows