In [1]:
# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('MyApp').getOrCreate()

In [2]:
"""
Loading the training csv.
"""

training = spark.read.option("escape", "\"").csv('../datasets/models_dataset/train.csv', header=True, inferSchema=True)

In [3]:
train = training.toPandas()

In [4]:
training.toPandas()["plot"].iloc[0]

'Because the Baron of Chanterelle wants to preserve his family line, he forces his timid nephew Lancelot to choose one of the village maidens to wed. Lancelot flees to a monastery to escape the forty eager maidens. When the gluttonous monks discover that the Baron is offering a large sum for the marriage, they suggest Lancelot marry a mechanical doll instead. The doll maker has just finished making a replica of his daughter Ossi, but his assistant accidentally breaks it and convinces the real girl to mimic the doll. Lancelot buys her, thinking she is a doll, and takes her back to the monastery, where they are wed.'

In [5]:
train

,_c0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,genre,...,actors,language,country,awards,boxoffice,rating,entry_type,production,imdb_votes,imdb_year
0,4,tt0010600,The Doll,Die Puppe,1919.0,NaN,66,1898,True,"['Comedy', ' Fantasy', ' Sci-Fi']",...,"['Ossi Oswalda', ' Hermann Thimig', ' Victor J...","['English', ' German']",Germany,False,NaN,7.4,movie,N/A,2183.0,1919.0
1,7,tt0011841,Way Down East,Way Down East,1920.0,NaN,145,5376,True,"['Drama', ' Romance']",...,"['Lillian Gish', ' Richard Barthelmess', ' Mrs...",['English'],United States,False,NaN,7.4,movie,United Artists,5649.0,1920.0
2,9,tt0012494,Déstiny,Der müde Tod,1921.0,NaN,97,5842,True,"['Drama', ' Fantasy', ' Horror']",...,"['Bernhard Goetzke', ' Lil Dagover', ' Walter ...",['German'],Germany,False,12156.0,7.6,movie,N/A,6266.0,1921.0
3,25,tt0015163,The Navigator,The Navigator,1924.0,NaN,59,9652,True,"['Action', ' Comedy', ' Romance']",...,"['Buster Keaton', ' Kathryn McGuire', ' Freder...",['English'],United States,True,NaN,7.6,movie,"Metro-Goldwyn-Mayer Distributing Corp., Image ...",10288.0,1924.0
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925.0,NaN,93,17887,True,['Horror'],...,"['Lon Chaney', ' Mary Philbin', ' Norman Kerry']",['N/A'],United States,True,3751476.0,7.5,movie,Hammer Films,18984.0,1925.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7954,9966,tt9625664,Trauma Center,None,2019.0,NaN,87,12951,False,"['Action', ' Thriller']",...,"['Nicky Whelan', ' Bruce Willis', ' Tito Ortiz']","['English', ' Spanish']",United States,False,NaN,4,movie,MoviePass Films,11401.0,2019.0
7955,9981,tt9741310,Slaxx,Slaxx,2020.0,NaN,77,2464,False,"['Comedy', ' Horror']",...,"['Romane Denis', ' Brett Donahue', ' Sehar Bho...",['English'],Canada,True,NaN,5.4,movie,N/A,3640.0,2020.0
7956,9982,tt9742392,Kindred,Kindred,2020.0,NaN,101,1719,False,"['Drama', ' Horror', ' Mystery']",...,"['Tamara Lawrance', ' Edward Holcroft', ' Jack...",['English'],"United Kingdom, United Arab Emirates, Germany,...",False,8921.0,5,movie,IFC Midnight,2198.0,2020.0
7957,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,None,2020.0,NaN,111,4144,True,"['Documentary', ' Biography', ' Music']",...,"['Barry Gibb', ' Maurice Gibb', ' Robin Gibb']",['English'],United States,True,NaN,8.1,movie,N/A,5072.0,2020.0
7958,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020.0,NaN,103,3242,True,"['Comedy', ' Drama']",...,"['Herman Finkers', ' Johanna ter Steege', ' Le...","['Low German', ' Dutch']",Netherlands,True,NaN,7.5,movie,N/A,3622.0,2020.0

In [6]:
train = train.drop(["tconst", "_c0", "originalTitle", "primaryTitle", "endYear", "genre", "plot", "actors", "language", "country", "rating", "entry_type", "production", "imdb_votes", "imdb_year"], axis = 1)

In [7]:
train

      startYear runtimeMinutes  numVotes  label  awards  boxoffice
0        1919.0             66      1898   True   False        NaN
1        1920.0            145      5376   True   False        NaN
2        1921.0             97      5842   True   False    12156.0
3        1924.0             59      9652   True    True        NaN
4        1925.0             93     17887   True    True  3751476.0
...         ...            ...       ...    ...     ...        ...
7954     2019.0             87     12951  False   False        NaN
7955     2020.0             77      2464  False    True        NaN
7956     2020.0            101      1719  False   False     8921.0
7957     2020.0            111      4144   True    True        NaN
7958     2020.0            103      3242   True    True        NaN

[7959 rows x 6 columns]

In [8]:
train["boxoffice"].fillna(0, inplace=True)

In [9]:
train["startYear"].fillna(2012, inplace=True)

In [10]:
import pandas as pd
train['runtimeMinutes'] = pd.to_numeric(train['runtimeMinutes'], errors='coerce')

In [11]:
train['runtimeMinutes'].fillna(0, inplace=True)

In [12]:
train =  train.astype(int)

In [13]:
train

      startYear  runtimeMinutes  numVotes  label  awards  boxoffice
0          1919              66      1898      1       0          0
1          1920             145      5376      1       0          0
2          1921              97      5842      1       0      12156
3          1924              59      9652      1       1          0
4          1925              93     17887      1       1    3751476
...         ...             ...       ...    ...     ...        ...
7954       2019              87     12951      0       0          0
7955       2020              77      2464      0       1          0
7956       2020             101      1719      0       0       8921
7957       2020             111      4144      1       1          0
7958       2020             103      3242      1       1          0

[7959 rows x 6 columns]

In [14]:
"""
Loading the training csv.
"""

validation = spark.read.option("escape", "\"").csv('../datasets/models_dataset/validation.csv', header=True, inferSchema=True)

In [15]:
validate = validation.toPandas()

In [16]:
validate = validate.drop(["tconst", "_c0", "originalTitle", "primaryTitle", "endYear", "genre", "plot", "actors", "language", "country", "rating", "entry_type", "production", "imdb_votes", "imdb_year"], axis = 1)

In [17]:
validate["boxoffice"].fillna(0, inplace=True)
validate["startYear"].fillna(2012, inplace=True)
validate['runtimeMinutes'] = pd.to_numeric(validate['runtimeMinutes'], errors='coerce')
validate['runtimeMinutes'].fillna(0, inplace=True)
validate = validate.astype(int)
validate

     startYear  runtimeMinutes  numVotes  awards  boxoffice
0         1914             148      3452       0          0
1         1917              65      1882       0          0
2         1919             166      1692       0          0
3         1923              74     19898       1          0
4         1924             143      5676       0          0
..         ...             ...       ...     ...        ...
950       2019             103      2106       1          0
951       2020             109      1730       1       2992
952       2021              98      1056       0          0
953       2021             145      1430       0          0
954       2019             130      1402       1          0

[955 rows x 5 columns]

In [19]:
from sklearn.model_selection import train_test_split
y = train["label"]
X = train.drop(["label"],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)
models

100%|██████████| 29/29 [00:09<00:00,  3.10it/s]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
LGBMClassifier,0.79,0.79,0.79,0.79,0.16
RandomForestClassifier,0.79,0.79,0.79,0.79,0.90
LabelSpreading,0.78,0.78,0.78,0.78,1.19
LabelPropagation,0.78,0.78,0.78,0.78,0.90
AdaBoostClassifier,0.78,0.78,0.78,0.78,0.23
XGBClassifier,0.78,0.78,0.78,0.78,0.38
LinearSVC,0.78,0.78,0.78,0.78,0.22
SVC,0.78,0.78,0.78,0.77,1.60
NuSVC,0.78,0.78,0.78,0.77,1.98
CalibratedClassifierCV,0.78,0.78,0.78,0.78,0.71
LogisticRegression,0.77,0.77,0.77,0.77,0.02
ExtraTreesClassifier,0.77,0.77,0.77,0.77,0.53
BaggingClassifier,0.77,0.77,0.77,0.77,0.16
RidgeClassifierCV,0.76,0.76,0.76,0.76,0.02
LinearDiscriminantAnalysis,0.76,0.76,0.76,0.76,0.02
RidgeClassifier,0.76,0.76,0.76,0.76,0.02
KNeighborsClassifier,0.75,0.75,0.75,0.75,0.10
NearestCentroid,0.75,0.75,0.75,0.75,0.01
SGDClassifier,0.75,0.75,0.75,0.75,0.02
BernoulliNB,0.73,0.73,0.73,0.73,0.02
ExtraTreeClassifier,0.72,0.72,0.72,0.72,0.02
DecisionTreeClassifier,0.71,0.71,0.71,0.71,0.03
Perceptron,0.67,0.67,0.67,0.65,0.01
QuadraticDiscriminantAnalysis,0.65,0.65,0.65,0.62,0.02
PassiveAggressiveClassifier,0.64,0.64,0.64,0.60,0.02
GaussianNB,0.64,0.64,0.64,0.60,0.02
DummyClassifier,0.50,0.50,0.50,0.34,0.01

In [21]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV,cross_val_score,RepeatedStratifiedKFold,train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [22]:
# Create lgbm object
clf = lgb.LGBMClassifier()

# Train lgbm
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
# y_pred = (clf.predict_proba(X_test)[:,1] >= 0.89).astype(bool) # set threshold as 0.882 (random number)

confusion_matrix(y_test, y_pred)

array([[1062,  246],
       [ 303, 1016]], dtype=int64)

In [23]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.classification_report(y_test, y_pred))

Accuracy:               precision    recall  f1-score   support

           0       0.78      0.81      0.79      1308
           1       0.81      0.77      0.79      1319

    accuracy                           0.79      2627
   macro avg       0.79      0.79      0.79      2627
weighted avg       0.79      0.79      0.79      2627

In [25]:
validate_results = clf.predict(validate)

In [26]:
validate_results

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1])

In [32]:
pd.DataFrame(validate_results)[0].map({1:"True", 0:"False"}).to_csv("validation_results.csv", index=False, header=False)

In [42]:
"""
Loading the training csv.
"""

test = spark.read.option("escape", "\"").csv('../datasets/models_dataset/test.csv', header=True,
                                                   inferSchema=True)
test = test.toPandas()
test = test.drop(
    ["tconst", "_c0", "originalTitle", "primaryTitle", "endYear", "genre", "plot", "actors", "language", "country",
     "rating", "entry_type", "production", "imdb_votes", "imdb_year"], axis=1)
test["boxoffice"].fillna(0, inplace=True)
test["startYear"].fillna(2012, inplace=True)
test['runtimeMinutes'] = pd.to_numeric(test['runtimeMinutes'], errors='coerce')
test['runtimeMinutes'].fillna(0, inplace=True)
test["numVotes"].fillna(0, inplace=True)
test = test.astype(int)
test

      startYear  runtimeMinutes  numVotes  awards  boxoffice
0          1924              95      3654       1          0
1          1924             150      2136       1          0
2          1924             129      4341       0          0
3          2012              59      1724       0          0
4          1925              69      4188       0          0
...         ...             ...       ...     ...        ...
1081       2019             101      5109       0    1298528
1082       2020             106      5780       1     514107
1083       2019             149      2331       0     423340
1084       2020             110      1861       0          0
1085       2019             140      5271       1          0

[1086 rows x 5 columns]

In [43]:
test_results = clf.predict(test)
test_results

array([1, 1, 1, ..., 1, 0, 1])

In [44]:
pd.DataFrame(test_results)[0].map({1: "True", 0: "False"}).to_csv("test_results.csv", index=False,
                                                                      header=False)