In [3]:
import os
import openai
import time
import pandas
import pandas as pd

### Import data

In [3]:
test_data = pd.read_csv("../datasets/imdb/complete_train.csv")

In [4]:
test_data

,_c0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
...,...,...,...,...,...,...,...,...,...
7954,9966,tt9625664,Trauma Center,NaN,2019,\N,87,12951.0,False
7955,9981,tt9741310,Slaxx,Slaxx,2020,\N,77,2464.0,False
7956,9982,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False
7957,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True
7958,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True

### Retrieve Plot Data

In [ ]:
test_data["plot"] = ""

In [43]:
import time
start = time.time()

In [44]:
openai.api_key = "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"

api_calls = 0

for index, row in test_data.iterrows():
#   if api_calls % 10 == 0:
#     print("Sleeping for API limit reset.")
#     time.sleep(10)

  if api_calls % 10 == 0:
    print(f"Processed {api_calls} sentences.")

  prompt = f"Give me a roughly 100 words plot of the {row.primaryTitle} from {row.startYear} that has a duration of {row.runtimeMinutes} minutes"

  try:
    response = openai.Completion.create(
    model="text-davinci-003",
    prompt=prompt,
    temperature=0,
    max_tokens=128,
    top_p=1,
    frequency_penalty=0.5,
    presence_penalty=0
  )
    test_data.at[index,'plot'] = response["choices"][0].text
    #row["answer"] = response["choices"][0].text
    api_calls +=1
  except Exception as e:
    print("Failed on one query. Continuing., ", e)

Processed 0 sentences.


No


Yes


No


No


No


No


No


No


No


No
Processed 10 sentences.


Yes


No


Yes


No


Yes


No


Yes


No


Yes


No
Processed 20 sentences.


No


Yes


No


Yes


No


Yes


No


No


No


No
Processed 30 sentences.


No


No


No


Yes


No


No


No


No


No


No
Processed 40 sentences.


No


No


No


No


No


No


No


No


Yes


No
Processed 50 sentences.


No


No


No


No


No


Yes


No


No


No


Yes
Processed 60 sentences.


No


Yes


No


No


No


Yes


No


No


No


Yes
Processed 70 sentences.


No


No


No


No


No


No


No


No


No


No
Processed 80 sentences.


No


Yes


Yes


Yes


No


Yes


No


No


No


No
Processed 90 sentences.


No


No


Yes


No


No


No


No


No


Yes


No

In [45]:
end = time.time()

In [46]:
end-start

57.34538960456848

In [48]:
test_data

,_c0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,awards
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,0
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,1
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True,0
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True,0
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True,0
...,...,...,...,...,...,...,...,...,...,...
95,1002,tt0057859,Monstrosity,NaN,1963,\N,65,2705.0,False,0
96,1005,tt0057933,The Chalk Garden,NaN,1964,\N,106,2091.0,True,0
97,1010,tt0058050,The Earth Dies Screaming,NaN,1964,\N,62,1727.0,False,0
98,1016,tt0058213,"Hush...Hush, Sweet Charlotte","Hush...Hush, Sweet Charlotte",1964,\N,133,14036.0,True,1
99,1025,tt0058390,The Naked Kiss,NaN,1964,\N,90,7570.0,True,0

In [22]:
test_data["plot"] = test_data["plot"].replace(r'\n',' ', regex=True)

C:\Users\matei\AppData\Local\Temp\ipykernel_3936\3653983480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["plot"] = test_data["plot"].replace(r'\n',' ', regex=True)

In [23]:
test_data.to_csv("movies_6000.csv",index=False)

### Awards Data

In [9]:
test_data = pd.read_csv("../datasets/gpt_data/validation_plots.csv")

In [10]:
test_data = test_data
test_data

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,plot
0,0,tt0003740,Cabiria,NaN,1914,\N,148,3452.0,Cabiria is a 1914 Italian silent film direct...
1,1,tt0008663,A Man There Was,Terje Vigen,1917,\N,65,1882.0,A Man There Was is a 1917 silent film direct...
2,3,tt0010307,J'accuse!,NaN,1919,\N,166,1692.0,The film J'accuse! (1919) is a French silent...
3,18,tt0014429,Safety Last!,Safety Last!,1923,\N,74,19898.0,Safety Last! is a 1923 silent comedy film st...
4,27,tt0015175,Die Nibelungen: Siegfried,NaN,1924,\N,143,5676.0,The epic saga of Die Nibelungen: Siegfried f...
...,...,...,...,...,...,...,...,...,...
950,9974,tt9686154,You Will Die at 20,NaN,2019,\N,103,2106.0,You Will Die at 20 is a 2019 Sudanese drama ...
951,9976,tt9690328,Pápér Spidérs,Paper Spiders,2020,\N,109,NaN,The Pápér Spidérs is a 2020 drama film direc...
952,9980,tt9735790,Me You Madness,Me You Madness,2021,\N,98,1056.0,Me You Madness is a 2021 romantic comedy abo...
953,9984,tt9769668,Tughlaq Durbar,Tughlaq Durbar,2021,\N,145,1430.0,The Tughlaq Durbar is a 2021 Indian Tamil-la...
954,9989,tt9812614,Hope,NaN,2019,\N,130,1402.0,Hope is a 2019 drama film about a young woma...

In [11]:
test_data["awards"] = 0

In [12]:
test_data["startYear"].replace(r"\N", None, inplace=True)
test_data["startYear"].fillna(test_data['endYear'], inplace=True)
test_data["startYear"] = test_data["startYear"].astype(int)

In [13]:
test_data

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,plot,awards
0,0,tt0003740,Cabiria,NaN,1914,\N,148,3452.0,Cabiria is a 1914 Italian silent film direct...,0
1,1,tt0008663,A Man There Was,Terje Vigen,1917,\N,65,1882.0,A Man There Was is a 1917 silent film direct...,0
2,3,tt0010307,J'accuse!,NaN,1919,\N,166,1692.0,The film J'accuse! (1919) is a French silent...,0
3,18,tt0014429,Safety Last!,Safety Last!,1923,\N,74,19898.0,Safety Last! is a 1923 silent comedy film st...,0
4,27,tt0015175,Die Nibelungen: Siegfried,NaN,1924,\N,143,5676.0,The epic saga of Die Nibelungen: Siegfried f...,0
...,...,...,...,...,...,...,...,...,...,...
950,9974,tt9686154,You Will Die at 20,NaN,2019,\N,103,2106.0,You Will Die at 20 is a 2019 Sudanese drama ...,0
951,9976,tt9690328,Pápér Spidérs,Paper Spiders,2020,\N,109,NaN,The Pápér Spidérs is a 2020 drama film direc...,0
952,9980,tt9735790,Me You Madness,Me You Madness,2021,\N,98,1056.0,Me You Madness is a 2021 romantic comedy abo...,0
953,9984,tt9769668,Tughlaq Durbar,Tughlaq Durbar,2021,\N,145,1430.0,The Tughlaq Durbar is a 2021 Indian Tamil-la...,0
954,9989,tt9812614,Hope,NaN,2019,\N,130,1402.0,Hope is a 2019 drama film about a young woma...,0

In [14]:
openai.api_key = "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"

api_calls = 0

for index, row in test_data.iterrows():
  prompt = f"Did the movie {row.primaryTitle if row.primaryTitle is not None else row.originalTitle} from {row.startYear} with a runtime of {row.runtimeMinutes} win any awards? Please only answer with Yes if it won any awards or with No if it did not."

  try:
    response = openai.Completion.create(
    model="text-davinci-003",
    prompt=prompt,
    temperature=0,
    max_tokens=32,
    top_p=1,
    frequency_penalty=0.5,
    presence_penalty=0
  )
    api_calls +=1

    if api_calls % 50 == 0:
      print("Sleeping for API limit reset.")
      time.sleep(30)

    if api_calls % 10 == 0:
      print(f"Processed {api_calls} sentences.")

    test_data.at[index,'awards'] = 1 if "Yes" in response["choices"][0].text else 0

  except Exception as e:
    print("Failed on one query. Continuing., ", e)
    time.sleep(10)

Processed 10 sentences.
Processed 20 sentences.
Processed 30 sentences.
Processed 40 sentences.
Sleeping for API limit reset.
Processed 50 sentences.
Processed 60 sentences.
Processed 70 sentences.
Processed 80 sentences.
Processed 90 sentences.
Sleeping for API limit reset.
Processed 100 sentences.
Processed 110 sentences.
Processed 120 sentences.
Processed 130 sentences.
Processed 140 sentences.
Sleeping for API limit reset.
Processed 150 sentences.
Processed 160 sentences.
Processed 170 sentences.
Processed 180 sentences.
Processed 190 sentences.
Sleeping for API limit reset.
Processed 200 sentences.
Processed 210 sentences.
Processed 220 sentences.
Processed 230 sentences.
Processed 240 sentences.
Sleeping for API limit reset.
Processed 250 sentences.
Processed 260 sentences.
Processed 270 sentences.
Processed 280 sentences.
Processed 290 sentences.
Sleeping for API limit reset.
Processed 300 sentences.
Processed 310 sentences.
Processed 320 sentences.
Processed 330 sentences.
Processed 340 sentences.
Sleeping for API limit reset.
Processed 350 sentences.
Processed 360 sentences.
Processed 370 sentences.
Processed 380 sentences.
Processed 390 sentences.
Sleeping for API limit reset.
Processed 400 sentences.
Processed 410 sentences.
Processed 420 sentences.
Processed 430 sentences.
Processed 440 sentences.
Sleeping for API limit reset.
Processed 450 sentences.
Processed 460 sentences.
Processed 470 sentences.
Processed 480 sentences.
Processed 490 sentences.
Sleeping for API limit reset.
Processed 500 sentences.
Processed 510 sentences.
Processed 520 sentences.
Processed 530 sentences.
Processed 540 sentences.
Sleeping for API limit reset.
Processed 550 sentences.
Processed 560 sentences.
Processed 570 sentences.
Processed 580 sentences.
Processed 590 sentences.
Sleeping for API limit reset.
Processed 600 sentences.
Processed 610 sentences.
Processed 620 sentences.
Processed 630 sentences.
Processed 640 sentences.
Sleeping for API limit reset.
Processed 650 sentences.
Processed 660 sentences.
Processed 670 sentences.
Processed 680 sentences.
Processed 690 sentences.
Sleeping for API limit reset.
Processed 700 sentences.
Processed 710 sentences.
Processed 720 sentences.
Processed 730 sentences.
Processed 740 sentences.
Sleeping for API limit reset.
Processed 750 sentences.
Processed 760 sentences.
Processed 770 sentences.
Processed 780 sentences.
Processed 790 sentences.
Sleeping for API limit reset.
Processed 800 sentences.
Processed 810 sentences.
Processed 820 sentences.
Processed 830 sentences.
Processed 840 sentences.
Sleeping for API limit reset.
Processed 850 sentences.
Processed 860 sentences.
Processed 870 sentences.
Processed 880 sentences.
Processed 890 sentences.
Sleeping for API limit reset.
Processed 900 sentences.
Processed 910 sentences.
Processed 920 sentences.
Processed 930 sentences.
Processed 940 sentences.
Sleeping for API limit reset.
Processed 950 sentences.

In [15]:
test_data.iloc[0]["awards"]

1

In [16]:
test_data.to_csv("validation_plots_awards.csv",index=False)

In [10]:
test_data.corr()

C:\Users\matei\AppData\Local\Temp\ipykernel_8540\4224628072.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  test_data.corr()

                _c0  startYear  numVotes     label    awards
_c0        1.000000   0.884359 -0.042461 -0.191171 -0.077345
startYear  0.884359   1.000000  0.007676 -0.246652 -0.069886
numVotes  -0.042461   0.007676  1.000000  0.153373  0.336631
label     -0.191171  -0.246652  0.153373  1.000000  0.350620
awards    -0.077345  -0.069886  0.336631  0.350620  1.000000

### Concat all train datasets

In [3]:
train_1 = pd.read_csv("../datasets/gpt_data/movies_1000.csv")
train_2 = pd.read_csv("../datasets/gpt_data/movies_2000.csv")
train_3 = pd.read_csv("../datasets/gpt_data/movies_3000.csv")
train_4 = pd.read_csv("../datasets/gpt_data/movies_4000.csv")
train_5 = pd.read_csv("../datasets/gpt_data/movies_5000.csv")
train_6 = pd.read_csv("../datasets/gpt_data/movies_6000.csv")
train_7 = pd.read_csv("../datasets/gpt_data/movies_7000.csv")
train_8 = pd.read_csv("../datasets/gpt_data/movies_8000.csv")

In [4]:
concat_dataset = pd.concat([train_1, train_2, train_3, train_4, train_5, train_6, train_7, train_8])

In [6]:
concat_dataset.to_csv("train_movies.csv", index=False)

### Concat awards dataset

In [4]:
awards_1 = pd.read_csv("../datasets/gpt_data/movies_awards_4000.csv")
awards_2 = pd.read_csv("../datasets/gpt_data/movies_awards_6000.csv")
awards_3 = pd.read_csv("../datasets/gpt_data/movies_awards_8000.csv")

In [5]:
awards_concat = pd.concat([awards_1, awards_2, awards_3])

In [6]:
awards_concat

,_c0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,plot,awards
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,The Doll is a 1919 silent film directed by E...,0
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,The Way Down East is a 1920 silent film dire...,1
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True,Destiny is a 1921 German silent fantasy film...,0
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True,The Navigator is a 1924 silent comedy film s...,0
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True,The Phantom of the Opera is a 1925 silent ho...,0
...,...,...,...,...,...,...,...,...,...,...,...
1954,9966,tt9625664,Trauma Center,NaN,2019,\N,87,12951.0,False,The Trauma Center is a 2019 drama film direc...,0
1955,9981,tt9741310,Slaxx,Slaxx,2020,\N,77,2464.0,False,Slaxx is a 2020 horror-comedy about a posses...,0
1956,9982,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False,The Kindred is a 2020 science fiction horror...,0
1957,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True,The Bee Gees: How Can You Mend a Broken Hear...,0
1958,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,The Marriage Escape is a 2020 romantic comed...,0

In [7]:
awards_concat.corr()

C:\Users\matei\AppData\Local\Temp\ipykernel_18188\1497727910.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  awards_concat.corr()

                _c0  startYear  numVotes     label    awards
_c0        1.000000   0.882606 -0.019808 -0.202384 -0.097384
startYear  0.882606   1.000000  0.033114 -0.263745 -0.101227
numVotes  -0.019808   0.033114  1.000000  0.168973  0.364005
label     -0.202384  -0.263745  0.168973  1.000000  0.344607
awards    -0.097384  -0.101227  0.364005  0.344607  1.000000

In [8]:
awards_concat.to_csv("train_plot_awards.csv", index=False)